services:
  # ----------------------------------------------------
  # 1. Mongo DB Service
  # ----------------------------------------------------
  # We do not specify as we will use MongoDB Atlas in PROD.

  # ----------------------------------------------------
  # 2. Redis Message Broker Service
  # ----------------------------------------------------
  # Redis is identical, so we don't need to specify it here.
  # It is inherited from docker-compose.dev.yml

  # ----------------------------------------------------
  # 3. FastAPI Web Application Service (API)
  # ----------------------------------------------------
  api:
    env_file:
      - secrets/prod.env # Use the PRODUCTION env file

    # Override the dependency list to remove the local 'mongo' service
    # Redis are still required.
    depends_on:
      - redis

    # CRITICAL: Remove the development-only volume mount
    # We only want the code copied at build time, not mounted live.
    volumes: []

  # ----------------------------------------------------
  # 4. Celery Worker Service
  # ----------------------------------------------------
  worker:
    env_file:
      - secrets/prod.env # Use the PRODUCTION env file

    # Override dependency list to remove the local 'mongo' service
    # Only Redis is strictly necessary for the worker to function.
    depends_on:
      - api # Ensures the API is running
      - redis

    # CRITICAL: Remove the development-only volume mount
    volumes: []

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    # Depends on api container to ensure it starts after the API is ready
    depends_on:
      - api
    ports:
      # Map ports 80 and 443 from host to container
      - "80:80"
      - "443:443"
    volumes:
      # Mount Nginx config file
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      # Mount Certbot files (for certs)
      - certbot_volumes:/etc/letsencrypt

  certbot:
    image: certbot/certbot
    container_name: certbot
    command: certonly --webroot --webroot-path=/var/www/certbot --email j.chavez3019@gmail.com --agree-tos --no-eff-email -d api.jorgechavezuiuc.com
    volumes:
      # Mount a directory for webroot challenges
      - certbot_volumes:/etc/letsencrypt
      - ./certbot_www:/var/www/certbot

volumes:
  # keep the volume for redis
  redis_data:
  # This volume persists the certificates and keys generated by Certbot
  certbot_volumes:
  # This volume holds the webroot challenge files (optional but good practice)
  certbot_www: